<h1>Click a Department To View Items</h1>
<button><%= link_to 'Create a new Department', new_dept_path %></button>
<ul>
  <% @depts.each do |dept| %>
    <h4><%= link_to dept.name, dept %></h4>
  <% end %>
</ul>
