<h1><%= @dept.name %></h1>
<hr />
<p>What would you like to do?</p>
<button><%= link_to 'View Items', dept_items_path(@dept) %></button>
<br />
<button><%= link_to 'Edit Department', edit_dept_path(@dept) %></button>
<br />
<button><%= link_to 'Delete Department', @dept, method: :delete %></button>
