<nav>
   <div class="nav-wrapper indigo darken-2">
     <a href="/depts" class="brand-logo">Store</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/depts/new">New Department</a></li>
      

     </ul>
   </div>
 </nav>
